
  
  .search-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
  }
  
  .search-input {
    width: calc(100%); /* Adjust to ensure it aligns with the profile image */
  }
  